In [1]:
l=[1,2,3]
l

[1, 2, 3]

In [2]:
l1=[20,0,3,100]
l1

[20, 0, 3, 100]

In [3]:
l1.sort()

In [4]:
l1

[0, 3, 20, 100]

In [5]:
l2=[20,0,3,100]
l2

[20, 0, 3, 100]

In [6]:
sorted(l2)

[0, 3, 20, 100]

In [7]:
l2

[20, 0, 3, 100]

In [9]:
sorted(l2,reverse=True)

[100, 20, 3, 0]

In [10]:
l2

[20, 0, 3, 100]

In [11]:
l3=['a',3,3.4,1+2j]
l3

['a', 3, 3.4, (1+2j)]

In [12]:
l3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [13]:
l3=['z','m','a','d']
l3

['z', 'm', 'a', 'd']

In [14]:
l3.sort()

In [15]:
l3

['a', 'd', 'm', 'z']

In [16]:
l3.sort(reverse=True)

In [17]:
l3

['z', 'm', 'd', 'a']

In [18]:
l

[1, 2, 3]

In [19]:
l.append('nit')
l

[1, 2, 3, 'nit']

In [20]:
l[3]

'nit'

In [21]:
print(l[3][0])

n

In [22]:
for i in l:
    print(i)

1
2
3
nit

In [23]:
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 'nit')

In [24]:
l

[1, 2, 3, 'nit']

In [25]:
all(l)

True

In [26]:
any(l)

True

In [27]:
all([False, True])

False

In [28]:
any([False, True])

True

In [29]:
L2=[1,2,3,0]
L2

[1, 2, 3, 0]

In [30]:
any(L2)

True

In [31]:
all(L2)

False

In [32]:
L4=[1,2,(3,4)]
L4

[1, 2, (3, 4)]

# Completed LIST datastructure

# TUPLE

In [33]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [34]:
t1=(10,20,30,40,10)
t1

(10, 20, 30, 40, 10)

In [35]:
t1.index(20)

1

In [36]:
t1.index(100)

ValueError: tuple.index(x): x not in tuple

In [37]:
t1.count(10)

2

In [38]:
t1.count(20)

1

In [39]:
t2=t1.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [42]:
t2=t1*2
t2

(10, 20, 30, 40, 10, 10, 20, 30, 40, 10)

In [41]:
t1

(10, 20, 30, 40, 10)

In [43]:
t3=t1*1
t3

(10, 20, 30, 40, 10)

In [44]:
t1[0]

10

In [45]:
t1[0]=100

TypeError: 'tuple' object does not support item assignment

In [46]:
l[-1]=0.3
l

[1, 2, 3, 0.3]

In [47]:
t2=([1,2,3],34,5.6)
t2

([1, 2, 3], 34, 5.6)

In [48]:
t3=([1,2,3],(34,5.6))
t3

([1, 2, 3], (34, 5.6))

# Completed TUPLE