In [2]:
tup1 = () # Empty tuple

In [3]:
tup2 = (10,30,60) # tuple of integers numbers

In [4]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [8]:
tup4 = ('one', 'two', "three") # tuple of strings

In [9]:
tup5 = ('Asif', 25 , (50, 100), (150, 90)) # Nested tuples

In [10]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [11]:
tup7 = ('Asif', 25 ,[50, 100], [150, 90] , {'John' , 'David'}, (99,22,33))

In [12]:
len(tup7) #Length of Tuple

6

# Tuple Indexing

In [13]:
tup2[0] # Retreive first element of the tuple

10

In [15]:
tup4[0] # Retreive first element of the tuple

'one'

In [16]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [17]:
tup4[-1] # Last item of the tuple

'three'

In [18]:
tup5[-1] # Last item of tuple

(150, 90)

# Tuple Slicing

In [19]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [20]:
mytuple[0:3] # Return all items from 0th to 3rd index Location excludng the item

('one', 'two', 'three')

In [21]:
mytuple[2:5] # List all items from 2nd to 5th index Location excludng the item

('three', 'four', 'five')

In [22]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [23]:
mytuple[:2] # Return first two items

('one', 'two')

In [24]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [25]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [26]:
mytuple[-1:] # Return last one item from tuple

('eight',)

In [29]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change items

In [30]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [31]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [32]:
mytuple[0]=1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [33]:
del mytuple # Deleting entire tuple object is possible

# Looping through a tuple

In [35]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [37]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Tuple Membership

In [38]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [39]:
'one' in mytuple # Check if 'one' exists in tuple

True

In [40]:
'ten' in mytuple # Check if 'ten' exists in tuple

False

In [41]:
if 'three' in mytuple: # Check if 'three' exists in tuple
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [42]:
if 'eleven' in mytuple: # Check if 'eleven' exists in tuple
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

Eleven is not present in the tuple

# Index Position

In [43]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [44]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [45]:
mytuple.index('mnop')

ValueError: tuple.index(x): x not in tuple

In [48]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [50]:
mytuple1=('one', 'two', 'three', 'four', 'one',' one', 'two', 'three')
mytuple1

('one', 'two', 'three', 'four', 'one', ' one', 'two', 'three')

In [51]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# Sorting

In [52]:
mytuple2=(43,67,99,12,6,90,67)

In [53]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [54]:
sorted(mytuple2,reverse=True) # Sort in decending order

[99, 90, 67, 67, 43, 12, 6]