# Python Tutorial

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

# Keywords
Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist) # Python contains 35 keywords

35

## Identifiers
An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [5]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid syntax (<ipython-input-5-e48c1c8cefcf>, line 1)

In [6]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (<ipython-input-6-7251d6d88b33>, line 1)

In [7]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (<ipython-input-7-f7061d4fc9ba>, line 1)

In [8]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
"""
val2 = 10

In [9]:
val_ = 99

# Comments in Python
Comments can be used to explain the code for more readabilty.

In [10]:
# Single line comment
val1 = 10

In [11]:
# Multiple
# line
# comment
val1 = 10

In [12]:
'''
Multiple
line
comment
'''
val1 = 10

In [13]:
"""
Multiple
line
comment
"""
val1 = 10

# Statements
Instructions that a Python interpreter can execute.

In [16]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to p
q = 20 # Create new reference q which will point to value 20. p & q will be poi
r = q # variable r will also point to the same location where p & q are pointin
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a

(20, int, '0x1024debc0')

In [17]:
q , type(q), hex(id(q))

(20, int, '0x1024debc0')

In [18]:
r , type(r), hex(id(r))

(20, int, '0x1024debc0')

In [20]:
p = 20
p = p + 10 # Variable Overwriting
p

30

## Variable Assigment

In [22]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

## Multiple Assignments

In [23]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separat
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [24]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types
## Numeric

In [25]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int

10
<class 'int'>
28
10  is Integer? True

In [26]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [27]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [28]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [29]:
sys.getsizeof(float()) # size of float object in bytes

24

In [30]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean
Boolean data type can have only two possible values **true** or **false**.

In [31]:
bool1 = True

In [32]:
bool2 = False

In [33]:
print(type(bool1))

<class 'bool'>

In [34]:
print(type(bool2))

<class 'bool'>

In [35]:
isinstance(bool1, bool)

True

In [36]:
bool(0)

False

In [37]:
bool(1)

True

In [38]:
bool(None)

False

In [39]:
bool (False)

False

# Strings
## String Creation

In [42]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [43]:
mystr = 'Hello World' # Define string using single quotes
print(mystr)

Hello World

In [44]:
mystr = "Hello World" # Define string using double quotes
print(mystr)

Hello World

In [45]:
mystr = '''Hello
            World ''' # Define string using triple quotes
print(mystr)

Hello
            World

In [47]:
mystr = """Hello
           World""" # Define string using triple quotes
print(mystr)

Hello
           World

In [49]:
mystr = ('Happy '
         'Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [50]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [51]:
len(mystr2) # Length of string

35

## String Indexing

In [52]:
str1

'HELLO PYTHON'

In [53]:
str1[0] # First character in string "str1"

'H'

In [54]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [55]:
str1[-1] # Last character in string

'N'

In [56]:
str1[6] #Fetch 7th element of the string

'P'

In [57]:
str1[5]

' '

## String Slicing

In [58]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location exc

'HELLO'

In [59]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc e

'PYTHON'

In [60]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [61]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [62]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [63]:
str1[:6] # Retreive first six characters of the string

'HELLO '

## Update & Delete String

In [64]:
str1

'HELLO PYTHON'

In [65]:
#Strings are immutable which means elements of a string cannot be changed
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [67]:
del str1 # Delete a string
print(str1)

NameError: name 'str1' is not defined

## String concatenation

In [68]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif