# print is use for answer

In [2]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1=20
num2=30
add=num1+num2
print(add)

50

# print result with string

In [6]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [9]:
name='Python'
age=20
city='hyd'
#hello my name is python and i am 10 year old from hyd

In [10]:
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

### print Format method

In [11]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

- first deside how the print statement should be
- like:- The addition of 20 and 30 is = 50
- then replace the variable position with curly brtacesm { }
- then appply .format(val1,val2,....val-n methodm

In [12]:
name='Python'
age=20
city='hyd'
#hello my name is python and i am 10 year old from hyderabad

In [14]:
print('hello my name is {}, and i am {} years old from {}'.format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [19]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
# The avrage of num1,num2,num3 is = avg
print('The average of {}, {}, and {} is=  {} or {}'.format(num1,num2,num3, avg,avg1)) # here we can use round(avg,2) also

The average of 100, 25, and 333 is=  152.66666666666666 or 152.67

In [20]:
round(avg,2) # round of till 2 digite after decimal

152.67

### More short format meythod(f string method)
- variable should be in `curly braces`
- and write everything inside quots `''`
- at starting simpaly add `f`

In [23]:
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}') # alwase prefer this

The addition of 20 and 30 is= 50

In [24]:
name='Python'
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hyderabad

In [27]:
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Python, and i am 20 year old, from hyd.

In [28]:
num1=100
num2=25
num3=333
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2)
# The average of num1,num2,num3 is = avg

In [29]:
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [30]:
# let's combine all
num1=10
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add))
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

# end statement

In [31]:
print('hello') # 1st statement
print('good moorning') # 2nd statement)
# i want to print like:- hello good morning

hello
good moorning

- Here we will use end statement that joint line from end of one string to starting of other
string

In [33]:
print('hello', end=' ') # 1st statement
print('world good day') # 2nd statement

hello world good day

# seprator

- here `one print statement` only we use
- insisde one print statement we have multipal values
- we want to seperate these multipal values with anything

In [35]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [36]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [37]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [40]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [41]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [42]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)

3.

In [43]:
print(1,2,end=' ')
print(3,'.',sep='')
# will print 1 2 3.

1 2 3.