In [2]:
v1=5.5
v1

5.5

In [3]:
type(v1)

float

In [7]:
v_=4
v_

4

In [8]:
if=50

SyntaxError: invalid syntax (<ipython-input-8-153b7cec9b89>, line 1)

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
len(keyword.kwlist)

35

In [12]:
While =9

In [13]:
While

9

In [14]:
nit=9
NIT

NameError: name 'NIT' is not defined

In [15]:
NIT=9
NIT

9

In [16]:
i=10
i
type(i)

int

In [17]:
f=100.10
f
type(f)

float

In [18]:
a,b=10,20

In [23]:
c=a+b
c

30

In [22]:
d=a-b
d

-10

In [26]:
c=a+b
d=a-b
e=a*b
f=a/b

print(c)
print(d)
print(e)
print(f)

30
-10
200
0.5

In [27]:
import sys
sys.version

'3.8.3 (default, Jul  2 2020, 11:26:31) \n[Clang 10.0.0 ]'

# 1- PYTHON INTRODUCTION - (TASK - 1)
I hope everybody install Anconda software which i share to you guys right
Just wanted to know how many of know any programming language
If you dont know any programming language then you are the best person to learn PYTHON
python is very easy language
what is python? Ans - python is highly recommanded programming language & object oriented language
Father of python - Guido van Rosam
Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel
Python borrowed all concept from c,c++,java,unix (so python is everything) thats why python very very powerfull tool
Python developed in NRI - (Netherland) & lot of people say that python is new language
Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)
It has a large and comprehensive standard library.

In [28]:
    b = '5'
type(b)

str

In [29]:
a = 6
a

6

In [30]:
a1 = 7
a1

7

In [31]:
a

6

In [32]:
a1

7

In [33]:
b

'5'

In [34]:
a

6

In [35]:
a='5'

In [36]:
type(a)

str

In [37]:
# Integer
a = 2
type(a)
#a

int

In [38]:
# Integer 
b = 9223372036
print(b)

9223372036

In [39]:
# Floating point
pi = 3.14
print(pi)

3.14

In [40]:
type(pi)

float

In [41]:
# String
c = 'A'
print(c)

A

In [42]:
type(c)

str

In [43]:
# String 
name = 'John Doe'
print(name)
type(name)

John Doe

str

In [44]:
# Boolean 
q = True
print(q)

True

In [45]:
# Empty value or null data type
x = None
print(x)

None

In [46]:
#x = 10 # x is the variable & 10 is the value
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
#ca$h
cash

10

In [47]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (<ipython-input-47-46ab00ab9b66>, line 1)

In [48]:
CASH = 20
#Cash
CASH

20

In [49]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

SyntaxError: invalid syntax (<ipython-input-49-db2dc179e917>, line 3)

In [50]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
Abcde = 20
#total
Abcde

20

In [51]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword
for = 50
#DEF
#if
for

SyntaxError: invalid syntax (<ipython-input-51-0581332fa669>, line 4)

In [52]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

10

In [53]:
_abc_def_gef  = 20
_abc_def_gef

20

In [55]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [54]:
# write a coding to create index of these keywords --- IMP ---

import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df

# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

In [56]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
#print(a)       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
id(a)            # To find an address of an object
#type(a)

4561943168

In [57]:
c = 0b1111
c

15

In [58]:
b = 0b11 # Now pvm convert value to binary value
b

3

In [59]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o111 # Now pvm covert value to octal value
b1
#a

73

In [62]:
f1 = 1E1
print(f1)
print(type(f1))

10.0
<class 'float'>

In [61]:
#f = 1e4# only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
g
#f
#type(g)

2400.0

In [63]:
e = 5.e3
#type(e) 
e

5000.0

In [64]:
x = 30+40j #assigned int value in real part & imaginary part
x
#type(x)

(30+40j)

In [65]:
type(x)

complex

In [66]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
y + z
y*z
y/z

(0.5022837821805671-0.25148297544192666j)

In [67]:
#c = 15+0b111j # Imaginary part cannot be binary,octal
d = 0o11+15j # Real part can be binary,octal
#c
d

(9+15j)

In [68]:
d2 = 0b111+15j
d2

(7+15j)

In [69]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

(0.5609756097560976+0.04878048780487805j)

In [70]:
a = 2+3J
type(a)

complex

In [71]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

# bool datatypes -
True/False - (only allowed boolean values)
False value -- 0 (internally memory level conversion happened)
True value -- 1

In [72]:
a = 10
b = 20
c = a>b
c

False

In [73]:
True+True
True*True
True-True
True/True
False+False
False+True
True/False

ZeroDivisionError: division by zero

In [74]:
True/True

1.0

In [75]:
True/False # error

ZeroDivisionError: division by zero

In [76]:
False/True

0.0

In [77]:
True*False

0

In [78]:
True*True

1

str datatypes -Â¶
enclosed in '' (single quote) // "" (double quote)
singa line we assined as '' // ""
multiline we assigned as ("' "')
single & double quotes are allowed only for single line
triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [80]:
naresh = '''good for datascience'''
naresh
#type(naresh)

'good for datascience'

In [81]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
type(naresh)

str

In [82]:
naresh2 = '''good 
             for datascience'''
#type(careerera)#' single quotes'
naresh2
#type(naresh)

'good \n             for datascience'

In [83]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
#type(naresh)

'good for datascience'

In [84]:
naresh1 = '''good for 
 datascience'''
#type(naresh1
naresh1

'good for \n datascience'

In [85]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare \nyou'

In [86]:
b = '''hello 
    hi'''
b

'hello \n    hi'

In [87]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

"('hallo' \n  'how'\n    'are you')"

In [88]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
int('ten') # amx is a character

ValueError: invalid literal for int() with base 10: 'ten'

In [89]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

11.0

In [90]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)     # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
#complex(10, 0b11j)
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [91]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

4561943168
4561943168
4561943488

In [92]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

4561943168
4561943168

In [93]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [94]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False